<section  class="order light-section">
     <div class= "container px-20 ">
         <h1 style="font-size: 20px; margin:20px 20px;">All orders</h1>
         <% if(messages.success) { %>
         <div id="success-alert" role="alert">
        <!-- *******a msg apper when order is succuss, which when disapper in some time********* -->
        <p style="font-size: 20px; color: black; background-color: lightgreen; padding:5px 5px;"><%= messages.success%> 😊</p>    
    </div>        
    <% } %>
    <!-- contains all the order details in table -->
         <table class="w-full tabel-auto bg-white">
             <thead>
                 <tr>
                    <th class="px-4 py-2 text-left">Order Number</th> 
                    <th class="px-4 py-2 text-left">Phone Number</th>
                    <th class="px-4 py-2 text-left">Home Address</th>
                    <th class="px-4 py-2 text-left">Time</th>
                 </tr>
             </thead>
             <tbody>
               <% if(orders.length) { %>
                <% orders.forEach((orders) => { %>
                         <tr>
                             <td class="border px-4 py-2">
                                 <a href="/customers/orders/<%= orders._id%>" class="link" ><%= orders._id %></a>
                             </td>
                             
                             <td class="border px-4 py-2">
                                <%= orders.phone%>
                            </td>
                             <td class="border px-4 py-2">
                                <%= orders.address%>
                            </td>
                            
                            <td class="border px-4 py-2">
                                <%= moment(orders.createdAt).format('hh:mm A')%>
                            </td>
                         </tr>
                    <% }) %>
                <%} else {%>
                    <tr>
                        <td class="p-4"><span>No Order Found</span></td>
                    </tr>
                 <%}%>   
             </tbody>
         </table>
     </div>
</section>
